/*
    Colorinchis
    ---btnp---
    rgb(201,44,113) --Magenta bajo
    rgb(137,29,76)  --Magenta fuerte
    ---btnm---

    --btne--
    rgb(0,141,235) --cian bajo
    rgb(23,228,243) --cian fuerte
*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
.btnp {
    display: block;
    width: 150px;
    height: 40px;
    outline: none;
    border: 1px solid rgb(201,44,113);
    background-color: #fafafa;
    border-radius: 6px;
    color: rgb(201,44,113);
    cursor: pointer;
    margin: auto;
    transition: all .25s;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
}

.btnp:before{
    content:'';
    position:absolute;
    width:100%;
    height:0;
    left:0;
    bottom:0;
    border-radius:6px;
    background-image:linear-gradient(to right, rgb(201,44,113),rgb(137,29,76));
    transition:all .25s;
    z-index:-1;
}

.btnp:hover{
    border:1px solid transparent;
    color: #fff

}
.btnp:hover::before{
    height:100%;

}

.btnm {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid rgb(201,44,113);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btne {
    display: inline-block;
    width: 150px;
    height: 40px;
    outline: none;
    border: 1px solid rgb(17,122,139);
    background-color: #fafafa;
    border-radius: 6px;
    color: rgb(17,122,139);
    cursor: pointer;
    margin: auto;
    transition: all .25s;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
}

.btne:before{
    content:'';
    position:absolute;
    width:100%;
    height:0;
    left:0;
    bottom:0;
    border-radius:6px;
    background-image:linear-gradient(to right, rgb(0,141,235),rgb(23,228,243));
    transition:all .25s;
    z-index:-1;
}

.btne:hover{
    border:1px solid transparent;
    color: #fff

}
.btne:hover::before{
    height:100%;

}
.btnf {
    display: inline-block;
    width: 150px;
    height: 40px;
    outline: none;
    border: 1px solid rgb(201,44,113);
    background-color: #fafafa;
    border-radius: 6px;
    color: rgb(201,44,113);
    cursor: pointer;
    margin: auto;
    transition: all .25s;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
}

.btnf:before{
    content:'';
    position:absolute;
    width:100%;
    height:0;
    left:0;
    bottom:0;
    border-radius:6px;
    background-image:linear-gradient(to right, rgb(201,44,113),rgb(137,29,76));
    transition:all .25s;
    z-index:-1;
}

.btnf:hover{
    border:1px solid transparent;
    color: #fff

}
.btnf:hover::before{
    height:100%;

}

.btng {
    display: inline-block;
    width: 150px;
    height: 40px;
    outline: none;
    border: 1px solid rgb(23,228,243);
    background-image: linear-gradient(to right, rgb(0,141,235),rgb(23,228,243));
    border-radius: 6px;
    color: white;
    cursor: pointer;
    margin: auto;
    transition: all .25s;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
}

.btnh {
    display: inline-block;
    width: 150px;
    height: 40px;
    outline: none;
    border: 1px solid rgb(201,44,113);
    background-image: linear-gradient(to right, rgb(201,44,113),rgb(137,29,76));
    border-radius: 6px;
    color: white;
    cursor: pointer;
    margin: auto;
    transition: all .25s;
    z-index: 0;
    position: relative;
    text-transform: uppercase;
}

#archivo{
    display: none;
    height: 45rem;
    width: 43rem;
}
#textoarchivo {
    color: black;
    height: auto;
    width: auto;
    background-color: #fafafa;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: dashed;
    border-color: #ecebeb;
}


    