@page
@model EKay.Pages.Crear_CuentaModel
@{
    ViewData["Title"] = "Cree su cuenta";
}
<link rel="stylesheet" href="~/css/botones.css" />
<body id="Indexo">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color:#c6c3bc">
            <li class="breadcrumb-item"><a href="../Index" style="color:white;">Cancelar</a></li>
        </ol>
    </nav>
    <div class="d-flex justify-content-center centrado">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card" style="width: 30rem">
                <div class="card-body">
                    <center>
                        <h2 class="card-title">Crear su cuenta</h2>
                    </center>
                    <form id="Cuenta" name="Cuenta" method="post" class="d-flex justify-content-center" enctype="multipart/form-data">
                        <div class="d-flex justify-content-center" style="width: 30rem;">
                            <ul class="list-group list-group-flush" style="width: 20rem;">
                                <li class="list-group-item">
                                    <span class="text-danger" asp-validation-for="EmpresaRequest.Nombre"></span>
                                    <div class="form-group">
                                        <input name="Nombre" asp-for="EmpresaRequest.Nombre" type="text" class="form-control" role="textbox" placeholder="Nombre de su empresa" required>
                                    </div>
                                    <span class="text-danger" asp-validation-for="EmpresaRequest.NombreRepresentante"></span>
                                    <div class="form-group">
                                        <input name="NombreRepresentante" asp-for="EmpresaRequest.NombreRepresentante" type="text" class="form-control" role="textbox" placeholder="Nombre de su representante" required>
                                    </div>
                                    <span class="text-danger" asp-validation-for="EmpresaRequest.Direccion"></span>
                                    <div class="form-group d-flex justify-content-center">
                                        <input name="Direccion" asp-for="EmpresaRequest.Direccion" type="text" class="form-control" role="textbox" placeholder="Dirección" required>
                                    </div>
                                    <span class="text-danger" asp-validation-for="EmpresaRequest.Telefono"></span>
                                    <div class="form-group d-flex justify-content-center">
                                        <input name="Telefono" asp-for="EmpresaRequest.Telefono" type="text" class="form-control" role="textbox" placeholder="Telefono" required>
                                    </div>
                                    <span class="text-danger" asp-validation-for="EmpresaRequest.Correo"></span>
                                    <div class="form-group d-flex justify-content-center">
                                        <input id="Usuario" name="Correo" asp-for="EmpresaRequest.Correo" type="email" class="form-control" role="textbox" placeholder="Correo" required>
                                    </div>
                                    <span class="text-danger" asp-validation-for="CuentaRequest.Contrasenia"></span>
                                    <div class="form-group d-flex justify-content-center">
                                        <input name="Contrasenia" asp-for="CuentaRequest.Contrasenia" type="password" class="form-control" role="textbox" placeholder="Contraseña" required>
                                    </div>
                                    <br />
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btnf">Crear Cuenta</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </form>
                    <div>
                        <label id="mensaje" name="mensaje" css="color:red;"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
        <script>
            const url = "https://localhost:44321/api/empresa/";
            const url2 = "https://localhost:44321/api/cuenta/";
            const $formulario = document.querySelector('#Cuenta')
            

            $formulario.addEventListener('submit', (e) => {
                e.preventDefault();
                var usuario = document.getElementById('Usuario').value;
                const dt = new FormData($formulario);
                dt.set('Usuario', usuario)
                console.log(dt.set('Usuario', usuario))

                fetch(url, {
                    method: 'POST',
                    body: dt,
                }).then(function (result) {
                    if (result.ok) {
                        fetch(url2, {
                            method: 'POST',
                            body: dt,
                            
                        }).then(function (result) {
                            if (result.ok) {
                                location.href = '/Inicio';
                            }
                        })
                    }
                })
            })
        </script>
    }
</body>