@page
@model EKay.Pages.EditarDoc
@{
    ViewData["Title"] = "Editar datos del documento";
}
<link rel="stylesheet" href="~/css/botones.css" />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb d-flex justify-content-end">
        <li class="breadcrumb-item" style="padding-right: 2rem; padding-top: .5rem">
            <a href="../Inicio">Cancelar</a>
        </li>
    </ol>
</nav>
<div class="d-flex justify-content-center centrado">
    <form id="YAMECANSE" method="post" enctype="application/json">
        <div id="view" class="d-flex justify-content-around">
            <div style="padding-top: 5rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <input id="iden" name="id" type="text" class="form-control" role="textbox" placeholder="id" disabled>
                        <h5>Fecha de Creacion:</h5>
                        <input id="fecha" name="FechaCreacion" type="date" class="form-control" role="textbox" placeholder="Fecha de Creación">
                        <h5>Observaciones:</h5>
                        <input id="contenido" name="Contenido" type="text" class="form-control" role="textbox" placeholder="Contenido">
                        <h5>Nombre del Archivo:</h5>
                        <input id="name" name="nombreArchivo" type="text" class="form-control" role="textbox" placeholder="Nombre archivo">
                    </li>
                </ul>
                <div style="padding-top: 2rem; padding-left: 2rem;">
                    <button class="btnh" onclick="Borrar()">Borrar</button>
                </div>
            </div>

            <img src="~/Images/Document.jpg" />


        </div>
    </form>
</div>

<div>
    <label id="mensaje" name="mensaje" css="color:red;"></label>
</div>


<script>

    const url1 = "http://ekayapi-001-site1.itempurl.com/api/documento";
    const url2 = "https://localhost:44321/api/documento/";
    const formulario = document.querySelector('#YAMECANSE');
    const iden = document.getElementById("iden");
    const fecha = document.getElementById("fecha");
    const nombreArchivo = document.getElementById("name");
    const contenido = document.getElementById("contenido");
    const nombreA = document.getElementById("NombreA");
    const nombre = document.getElementById("Nombre");
    const $label = document.querySelector('#mensaje')

    function displayMessage(message) {
        if (message)
            $label.textContent = "Correcto",
                alert("Los datos se han actualizado correctamente. Pulse aceptar para continuar."),
                location.href = '/Inicio';
        else
            $label.textContent = "Error"
    }
    window.addEventListener("load", GetDoc);
    formulario.addEventListener('submit', (e) => {
        e.preventDefault()
        let urlparam = new URLSearchParams(window.location.search);
        let id = urlparam.get("id");
        var dt = $("form").serializeArray();
        var data = {};
        var s = '';
        for (s in dt) {
            data[dt[s]['name']] = dt[s]['value'];
        }

        fetch(url2 + id, { 
            headers: {
                'Content-Type': 'application/json'
            },
            cache: 'default',
            method: 'PUT',
            mode: 'cors',
            body: JSON.stringify(data)

        })
            .then(res => res.json())
            .catch(error => alert('Error: ' + error))
            .then(response => displayMessage(response));
        console.log(JSON.stringify(data.id))
    })
    function GetDoc() {
        let urlparam = new URLSearchParams(window.location.search);
        let id = urlparam.get("id");
        console.log(id)


        fetch(url2 + id)
            .then(function (result) {
                if (result.ok) {
                    return result.json();
                    
                }
                else {
                    alert("Hubo un error, error: " + result.status);
                }
            }).then(function (data) {
                $.each(data, function (index, obj) {
                    console.log(data);
                    iden.value = obj.id;
                    fecha.value = replaceDate(obj.fechaCreacion);
                    nombreArchivo.value = obj.nombreArchivo;
                    contenido.value = obj.contenido;
                    nombreA.value = obj.nombreA;
                    nombre.value = obj.nombre
                })

            })
    }
    function replaceDate(texto) {
        if (texto !== null) return texto.replace('T00:00:00', '');
        else return null;
    }
    
    function Borrar() {
        var confirmar = confirm("El elemento seleccionado se borrará. \nPulse aceptar si está de acuerdo.");
        if (confirmar == true) {
            let urlparam = new URLSearchParams(window.location.search);
            let id = urlparam.get("id");

            fetch(url2 + id, {
                method: 'Delete',
            }).then(function (result) {
                if (result.ok) {
                    location.href = '/Inicio';
                }
                else {
                    alert("DELETE no ha funcionado, error: " + result.status);
                }
            })
        } else {
            location.reload();
        }

        
    }

</script>