@page
@model EKay.Pages.testModel
@{
    ViewData["Title"] = "Sitio de pruebas";
}
<link rel="stylesheet" href="~/css/botones.css" />

<button class="btnp">
    Botonon
</button>

<button class="btnm">
    Botonon
</button>

<button class="btnf">
    Botonon
</button>

<button class="btne">
    Botonon
</button>

<button class="btng">
    Botonon
</button>

<button class="btnh">
    Botonon
</button>

<br />

<table id="view"></table>


<script>

    const url = "https://localhost:44321/api/documento/"
    var view = document.querySelector('#view')

    fetch(url)
        .then(res => res.json())
        .then(data => {
            console.log(data)
            view.innerHTML = ``
            for (let ten of data.data) {
                view.innerHTML +=
                    `
                
                <tr>
                <th scope="row">${ten.id}</th>
                <td>${ten.fechaCreacion}</td>
                <td>${ten.contenido}</td>
                <td>${ten.nombreArchivo}</td>
                <td>${ten.extension}</td>
                <td>${ten.tamanio}</td>
                <td>${ten.ruta}</td>
                <td>${ten.rutaBase}</td>
                <td>${ten.certificado}</td>
                <td>${ten.nombreA}</td>
                <td>${ten.apellidoA}</td>
                <td>${ten.correoA}</td>
                <td><button onclick="location.href='/EditarDoc?id=${ten.id}'">Editar</button></td>
                <td><button onclick="location.href='/Index?=${ten.id}'">Borrar</button></td>
                </tr>
                

                `
            }
            
        })

            
    


    
    //const $formulario = document.querySelector('#Documento')

    //const $label = document.querySelector('#mensaje')
    //function displayMessage(message) {
    //    if (message)
    //        $label.textContent = "Ohhh por dios funciono!!!"
    //    else
    //        $label.textContent = "Oh ohhh hay problemas en la matrix!!!"
    //}

    //$formulario.addEventListener('submit', (e) => {
    //    e.preventDefault();
    //    const id = 21;

    //    const dt = new FormData($formulario);
    //    console.log(dt.get('id'))
    //    console.log(dt.get('usuario'))
    //    console.log(dt.get('contrasenia'))
    //    console.log(dt.get('perfilId'))
    //    console.log(dt.get('empresaId'))
        
    //    fetch(url + id, {
    //        method: 'PUT',
    //        body: dt,
    //    })
    //        .then(res => res.json())
    //        .catch(error => console.error('Error:', error))
    //        .then(response => displayMessage(response));

    //})
</script>